<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            html { -webkit-font-smoothing: antialiased; }
            h1, h2, h3, h4, h5, h6 { margin: 0; }
            p { margin: 0 0 0.5em 0; line-height: 1.5; }
            body { margin: 0; font-size: 16px; line-height: 24px; font-family: Roboto, sans-serif; }
            a { text-decoration: none; }
            ul, ol, dl { margin: 0.5em 0; }
            dt { margin: 0; font-weight: bold; }
            dd { margin: 0; padding: 0 0 0.5em 0; }
            #releaseNotes pre { margin: 16px; padding: 6px; background: #E0E0E0; border-radius: 5px }
            #releaseNotes h2 { display: none; }
            .editIconWrapper:hover .editIcon { display: inline !important; }
            div.jsoneditor { border: 1px solid #ddd; border-radius: 3px; }
            div.jsoneditor-menu { background: #1565c0 }
        </style>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,500italic,700,700italic,900,900italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
        <title>SAM - Simple Asset Management</title>
        <script>
            window.samSettings = {{{  htmlWebpackPlugin.options.env }}}{{{  settings }}};
        </script>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
